<form class="abilities-form">
    <div class="abilities-form__header"></div>
    <ul class="abilities-form__items">
        <li class="abilities-form__item">
            <span class="">STR</span>
            <input class="js-str-base">
            <span class="js-str"></span>
            <span class="js-str-mod"></span>
        </li>
        <li class="abilities-form__item">
            <span class="">DEX</span>
            <input class="js-dex-base">
            <span class="js-dex"></span>
            <span class="js-dex-mod"></span>
        </li>
        <li class="abilities-form__item">
            <span class="">CON</span>
            <input class="js-con-base">
            <span class="js-con"></span>
            <span class="js-con-mod"></span>
        </li>
        <li class="abilities-form__item">
            <span class="">INT</span>
            <input class="js-int-base">
            <span class="js-int"></span>
            <span class="js-int-mod"></span>
        </li>
        <li class="abilities-form__item">
            <span class="">WIS</span>
            <input class="js-wis-base">
            <span class="js-wis"></span>
            <span class="js-wis-mod"></span>
        </li>
        <li class="abilities-form__item">
            <span class="">CHA</span>
            <input class="js-cha-base">
            <span class="js-cha"></span>
            <span class="js-cha-mod"></span>
        </li>
    </ul>




</form>