<form class="main-settings">
    <label for="charName">Name</label><input id="charName" class="js-char-name">
    <label for="playerName">Player</label><input id="playerName" class="js-player-name">
    <label for="alignment">Alignment</label>
    <select id="alignment" class="js-alignment">
        <option value="Lawfull Good">Lawfull Good</option>
        <option value="Neutral Good">Neutral Good</option>
        <option value="Chaotic Good">Chaotic Good</option>
        <option value="Lawfull Neutral">Lawfull Neutral</option>
        <option value="True Neutral"   >True Neutral</option>
        <option value="Chaotic Neutral">Chaotic Neutral</option>
        <option value="Lawfull Evil">Lawfull Evil</option>
        <option value="Neutral Evil">Neutral Evil</option>
        <option value="Chaotic Evil">Chaotic Evil</option>
    </select>
    <span class="js-level"></span>
</form>